.social {
    text-align: center;
    font-size: 1.8em;
    color: #555;
    overflow: hidden;
}

.social a {
    color: inherit;
    text-decoration: none;

}

.social i {
    margin: .3em;
    cursor: pointer;
    transition: color 300ms ease, margin-top 300ms ease;
    transform: translateZ(0);
}

.social i:hover {
    margin-top: -1px;
}

.social i#facebook:hover {
    color: #77DDF6;
}


.social i#linkedin:hover {
    color: #0177B5;
}

.social i#mail:hover {
    color: #F7B401;
}

topmenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.topmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: transparent;
    font-family: 'Sigmar One', cursive;

}

.topmenu h2 {
    font-family: 'Sigmar One', cursive;
}

.marginstarts {
    display: flex;
    flex-direction: column;
}

.neverimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;


}

.neverimage img {
    box-shadow: 10px 10px 5px grey;
    height: 30em;
    width: 50em;
}


.backgroundimage h1 {
    text-align: center;
    padding-top: 150px;
}

.topmenu nav a {
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.topmenu nav a:hover {
    background-color: #E8E8E8;
}

.about {


    width: auto;
    height: auto;

}

.about h1 {
    text-align: center;

}

.about a {
    font-size: 20px;
}

.about img {
    height: 20em;
    width: 20em;
    border: solid black 5px;
}

.projects {

    width: auto;
    height: auto;
}

.projects img {
    height: 20em;
    width: 40em;
}

p {
    margin-left: 420px;
    margin-right: 420px;
    text-align: center;
}

.slide {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 330px;
    align-self: center;

}

.left:hover {
    background-color: red;
    transition: background-color 1.5s ease-in-out;
}

.left {
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    border: solid 1px black;
    font-family: 'Sigmar One', cursive;


}

.right:hover {
    background-color: red;
    transition: background-color 1.5s ease-in-out;
}

.right {
    flex-grow: 1;
    justify-content: center;
    cursor: pointer;
    border: solid 1px black;
    font-family: 'Sigmar One', cursive;

}

.gallery img {
    height: 30em;
    width: 30em;
}

footer {
    margin-top: 20px;
}

footer p {
    color: white;
}

h1 {
    font-family: 'Sigmar One', cursive;
}

/*
.bio {
    justify-content: space-evenly;
    margin-bottom: 5%;

}

.bio h1 {
    text-align: center;
    flex-direction: column;
}

.bio div:first-child {

    width: 22em;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;

}

.bio div img {
    display: flex;
    height: 20em;
    width: 20em;
}

.bio div a {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
    .bio {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
    .bio {
        flex-direction: column;
    }
}

@media screen and (max-width:1200px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
}
*/

/*
* {
    border: solid 1px black;
}
*/

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button {
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 5px;
}
