.bio {
    justify-content: space-evenly;
    margin-bottom: 5%;

}

.bio h1 {
    text-align: center;
    flex-direction: column;
}

.bio div:first-child {

    width: 22em;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;

}

.bio div img {
    display: flex;
    height: 20em;
    width: 20em;
}

.bio div a {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    margin: 0;
}


@media screen and (max-width: 320px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
    .bio {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
    .bio {
        flex-direction: column;
    }
}

@media screen and (max-width:1200px) {
    .menu {
        font-size: .8em;
        justify-content: center;

    }
    .spaces {
        font-size: 1.2em;
    }
}
