div {
    display: flex;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: .3%;
    width: 97%;
}

.menu div {
    font-family: 'Sigmar One', cursive;
    flex-grow: 2;
    font-size: 1.3em;
    margin-left: 3%;
}

.menu a {
    border: solid 2px black;
    text-decoration: none;
    padding-right: 5%;
    font-family: 'Sigmar One', cursive;
    padding-left: 5%;
    font-weight: bold;
    color: black;
    background-color: white;
}

.menu a:hover {

    background-color: red;
    width: 150px;
    transition: background-color 1.5s ease-in-out;

}

.spaces {

    margin-bottom: 5%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 13%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Sigmar One', cursive;
    background-image: url("home.JPG");
    background-size: cover;
    background-repeat: no-repeat;

}

* {
    /*    border: solid 1px black;*/
}
