div {
    display: flex;
}




footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 120px;
    padding: 1%;

}
